<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img [src]="user.imgUrl" class="userImage">
    </div>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>*****</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>

    <form [formGroup]="createBlogFormGroup" class="form">
      <section>
        <mat-form-field class="input-field">
          <textarea matInput placeholder=" Blog Title"  formControlName="blogTitle" required ></textarea>
          <!-- <mat-hint align="end"><code> {{ titlelMaxChar - createBlogFormGroup.value.blogTitle.length}}</code> </mat-hint> -->
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-select placeholder="Category" (change)="selectedCategory($event)" formControlName="category">
            <mat-option *ngFor="let category of categories"  [value]="category.categorykey">
              {{ category.categoryValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *ngIf="subCategories.length">
        <mat-form-field >
          <mat-select placeholder="Sub Category" formControlName="subCategory">
            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.categorykey">
              {{ subCategory.categoryValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="demo-chip-list">
          <mat-chip-list #chipList2>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                     [removable]="removable" (remove)="remove(tag,'tags')">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..."
                   [matChipInputFor]="chipList2"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event,'tags')" />
          </mat-chip-list>
        </mat-form-field>
      </section>
      <!-- <section>
        <label> <h4>Blog Image </h4></label>
        <img [src]="imageCtrl" width="250" height="200">
        <input type="file" #blogImage (change)="changeImageListener($event)" accept="image/*" ngf-max-size="2MB" required>
        <button mat-raised-button color="primary" (click)="uploadBlogImage()">Upload</button>
        <mat-icon *ngIf="imageUploaded">thumb_up</mat-icon>
      </section> -->

      <section>
        <label><h3>Blog Content</h3></label>
        <!-- <ckeditor formControlName="blogContent" class="editor"debounce="500"></ckeditor> -->
        <textarea [froalaEditor] formControlName="blogContent">Hello, Type here !!!!</textarea>
      </section>
      <!-- <section>
        <label><h3>Blog Discription</h3></label>
        <textarea formControlName="excerptText" class="editor"debounce="500"></textarea>
      </section> -->
      <!-- <section *ngIf="!subCategories.length">
        <mat-hint>Sub category is not availabe for this category</mat-hint>
      </section> -->
      <!-- <section>
        <mat-form-field>
          <input matInput placeholder=" Blog Reading Time " formControlName="readingTime" >
        </mat-form-field>
      </section> -->
      <!-- <section>
        <label><h3>Blog Guideline for User</h3></label>
        <ckeditor formControlName="blogGuidelinesHTML" debounce="500"></ckeditor>{{createBlogFormGroup.value.blogGuidelinesHTML}}
      </section> -->
      <!-- <section>
        <label> <h4>Blog Image </h4></label>
        <img [src]="imageCtrl" width="250" height="200">
        <input type="file" #blogImage (change)="changeImageListener($event)" accept="image/*" ngf-max-size="2MB" required>
        <button mat-raised-button color="primary" (click)="uploadBlogImage()">Upload</button>
        <mat-icon *ngIf="imageUploaded">thumb_up</mat-icon>
      </section> -->
      <!-- <section *ngIf = "currentBlogId">
        <h3>Comments</h3>
        <mat-list *ngFor = "let commentList of comments ; let i = index">
          <mat-list-item>
            <section class="spacer">
             {{i+1}}
           </section>
           <section class="spacer"></section>
           <section>
             {{commentList.owner}}
           </section>
           <section class="spacer"></section>
           <section class="spacer">
             {{commentList.message}}
           </section>
           <section class="spacer">
               <button mat-raised-button color="primary" (click)="deleteComment(i)">Delete</button>
           </section>
           </mat-list-item>
        </mat-list>
      </section> -->
      <!-- <section>
        <button mat-raised-button color="primary" (click)="openDialog()">Assign Users</button>
      </section>

      <section>
        <button mat-raised-button color="primary" (click)="createBlog()">Submit</button>
      </section> -->
      <div (click)="click()">
        jhghghghgh
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!createBlogFormGroup.valid" (click)="submit()">Save</button>
    <button mat-button>Refresh</button>
  </mat-card-actions>
</mat-card>
