
<section *ngIf="!boxPanel">
<div class="pop-card" >
  <div class="titleheader">
    <h1> <span [innerHtml]="titleNote"></span></h1>
  </div>
  <div>
      <h2>
        <span [innerHtml]="contentNote"></span>
    </h2>
  </div>
  <!-- <div class="signgate">
    <button id="googleBtn" class="g-signin2">Google Sign-In</button>
  </div> -->
  <div id="googleBtn" class="customGPlusSignIn">
  <span class="icon"><mat-icon>G</mat-icon></span>
  <!-- <i class="fa fa-google" aria-hidden="true"></i> -->
  <span class="buttonText">Google</span>
</div>
  <!-- </mat-card-content> -->
  <mat-card-actions>
  </mat-card-actions>
</div>
</section>
<section *ngIf="boxPanel">
<div >
<mat-spinner></mat-spinner>
</div>
</section>
