
<div class="blog-head-card">
    <span *ngIf="subCategoryKey">
      <h1>{{subCategoryKey.toUpperCase()}}</h1>
    </span>
    <section class="blogList">
    <section *ngFor="let blog of blogModelcon" >
      <section>
      <mat-card class="blog-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img [src]="blog.authorImage" class="userImage">
          </div>
          <mat-card-title>{{blog.authorName}}</mat-card-title>
          <mat-card-subtitle>{{blog.category}}</mat-card-subtitle>
          {{blog.blogCreationDate}}

        </mat-card-header>

        <mat-card-content>
            <div class="image">
              <img mat-card-image id="imageBlog" [src]="blog.blogimageUrl" >
            </div>

            <h2>{{blog.blogTitle}}</h2>
            <span id="contentHtmlBlog">{{blog.excerptText}}</span> <button mat-button (click)="gotoBlogView(blog._id)">.....Read More</button>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      </section>
    </section>
    </section>
</div>
<div *ngIf="check">
<button mat-button (click)="viewMore()">LoadMore</button>
</div>
