  <h1>Explore topics</h1>
<section *ngFor="let list of categoryList">
  <h1>{{list.categoryValue}}</h1>
  <section  class="sub-card-section" >
    <section *ngFor="let subList of list.subCategory">
      <mat-card class="sub-card" (click)="gotToBlockListBySubcategory(list.categorykey, subList.categorykey)">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <h1>{{subList.categoryValue}}</h1>
          <div class="iconToselect">
           <mat-icon>add</mat-icon>
          </div>
          <img mat-card-image id="imageBlog" src="assets/image1.jpg" >
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
  </section>
</section>
</section>
