<div class="popcategory-card ">
<h1>Explore topics</h1>
<button mat-icon-button (click)="saveIntCategory()">
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<section *ngFor="let list of categoryList">
<h1>{{list.categoryValue}}</h1>
<section  class="sub-card-section" >
  <section *ngFor="let subList of list.subCategory">
    <mat-card class="sub-card" >
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <h1>{{subList.categoryValue}}</h1>
        <div class="iconToselect" (click)="selectCategory(list._id, subList.categorykey)">
         <mat-icon>add</mat-icon>
        </div>
        <img mat-card-image id="imageBlog" src="assets/image1.jpg" >
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
</section>
</section>
</section>
</div>
